/*Configuracion General*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #dc531d;
}


/*Encabezado */

header{
    background-color: #dc531d;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1{
    margin-bottom: 10px;
    font-size: 36px;
}

header p{
    font-size: 18px;
    margin: 0;
}

/*Menu*/

nav{
    background-color: #ef8a2b;
    text-align: center;
    padding: 15px;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}


/*Contenido Principal*/

main{
    padding: 30px;
}


/*section principal*/

.principal{
    background-color: #dd710b;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.principal h2{
    font-size: 28px;
}


/*boton*/

button{
    background-color: #dc531d;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}


/* Seccion de targetas*/
.targetas{

text-align: center;
}

.targeta{
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 25%;
}


/*Pie de pagina*/

footer{
    background-color: #ef8a2b;
    color: #fff;
    text-align: center;
    padding: 20px;
}